html, body {
	height: 100%;
    box-sizing: border-box;
    margin: 0;
}

@media screen and (max-width: 900px) {
    .hero-block__header div {
        color: red;
    }
  }

.hero-block {
    background: url(./img/bakery1.png);
    background-size: 100%;
    width: 100%;
}

.hero-block__header {
	height: 70px;
    background-color: rgba(86,83,76,0.5294117647058824);
    padding-top: 35px;
    padding-right: 20px;
}

.hero-block__header div {
    float: left;
}

.hero-block__logo {
    margin-left: 156px;
    font-size: 30px;
    letter-spacing: 9px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Scriptina";
    font-weight: 400;
}

.hero-block__menu {
    margin-left: 480px;
    font-size: 14px;
    letter-spacing: 4px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Alegreya";
    font-weight: 400;
}

.hero-block__menu div {
    float: left;
}

.hero-block__menu div:not(:last-child)::after {
    content: "~";
    margin: 0 60px 0 60px;
}

.hero-block__icons {
    margin-left: 1600px;
}

.hero-block__menu div:hover {
    cursor: pointer;
}

.hero-block__icons img {
    margin: 0 15px 0 15px;
}

.hero-block__main-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-content: center;
	align-items: center;
    height: 897px;
    background-image: radial-gradient(circle at center, #564f4c 0%, rgba(86,83,76,0) 60%);
}

.hero-block__title {
	margin-bottom: 60px;
	font-size: 92px;
	letter-spacing: 7px;
	line-height: 24px;
	color: #ffffff;
	font-family: "Playfair Display";
	font-weight: 700;
	filter: drop-shadow(0px 1px 0px #3d3029);
	align-self: center;
}

.hero-block__title:hover {
    cursor: pointer;
	color: #c5c1ac;
}

.hero-block__dashed-line {
	height: 20px;
	background: url(./img/dashed-line.png);
	background-position: top center;
}

.hero-block__text {
	width: 580px;
	font-size: 24px;
	letter-spacing: 2px;
	line-height: 36px;
	color: #ffffff;
	font-family: "Proxima Nova";
	text-align: center;
	filter: drop-shadow(0px 1px 0px #3d3029);
}

.hero-block__button {
    margin-top: 50px;
    border: 2px dashed #9e9c93;
    padding: 10px 30px 10px 30px;
	height: 50px;
	background-color: rgba(86,83,76,0.5294117647058824);
    transition: all 0.5s;
	
	font-size: 14px;
	letter-spacing: 4px;
	line-height: 24px;
	color: #ffffff;
	font-family: "Alegreya";
	font-weight: 700;
}

.hero-block__button:hover {
    background-color: rgba(128, 118, 97, 0.529);
    cursor: pointer;
    transition: all 0.5s;
}

.body-block {
    height: 950px;
    background-color: #f3f1e9;
}

.body-block__main-title {
	display: flex;
    justify-content: center;
	flex-direction: column;
    align-items: center;
}

.body-block__title {
    margin-top: 90px;
    font-size: 48px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #56534c;
    font-family: "Alegreya";
    font-weight: 700;
    text-align: center;
}

.body-block__second-title {
    margin-top: 12px;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #a47d5e;
    font-family: "Alegreya";
    font-weight: 700;
    text-align: center;
}